{% extends  "base.html" %} <!--это корень. Его в путях не пишем-->
{% load static %} <!--но static прописываем везде, она не наследуется-->


<!-- Стиль footer-a для главной страницы -->
{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css"%}">
{% endblock css %}

<!-- Контент на странице -->
{% block content %}
    <div class="mt-5 pt-5">
        <h2 class="m-2" ><strong>{{content}}</strong></h2>
        <h3 class="m-2 fs-4">{{text_on_page}}</h3>
    </div>
{% endblock content %}

<!--Блок футер -->
{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Home Python Hub Studio 2023</p>
        </div>
    </footer>
{% endblock footer %}

